<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1>Detail Anggota</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id Anggota</th>
						<th>Kode Anggota</th>
						<th>Nama Anggota</th>
						<th>Kode Fakultas</th>
						<th>Usia</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a th:text="${anggotaModel.idAnggota}"></a></td>
						<td><a th:text="${anggotaModel.kodeAnggota}"></a></td>
						<td><a th:text="${anggotaModel.namaAnggota}"></a></td>
						<td><a th:text="${anggotaModel.kodeFakultas}"></a></td>	
						<td><a th:text="${anggotaModel.usia}"></a></td>										
					</tr>					
			</table>
		</div>
	</div>
</body>
</html>