<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/karyawan/home}">Home</a>
	<a th:href="@{/karyawan/kota/data}">Data Kota</a>
	<form th:action="@{/karyawan/create/kota}" method="post">
		<h1>Tambah Kota</h1>
		<table>
			<tr>
				<td>Kode Kota</td>
				<td><input type="text" name="kodeKota" th:value="${kodeGenerator}" readonly=yes/></td>
			</tr>
			<tr>
				<td>Nama Kota</td>
				<td><input type="text" name="namaKota"/></td>
			</tr>				
			<tr>
				<td><button type="submit">Simpan</button></td>
			</tr>
		</table>
	</form>

</body>
</html>